@font-face {
  font-family: "PT-Sans";
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/PT-Sans-400.woff2') format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT-Sans";
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/PT-Sans-Italic.woff2') format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT-Sans";
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/PT-Sans-700.woff2') format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Fira-Sans";
  font-weight: 900;
  font-style: normal;
  src: url('../fonts/Fira-Sans-700.woff2') format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT-Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  background-color: #FFFFFF;
  margin: 0;
  color: #293449;
  display: flex;
  flex-direction: column;
  min-width: 1400px;
  min-height: 100%;

}

.visually-hidden {
  visibility: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.wrapper {
  width: 1400px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.head {
  margin: 0 auto;
  background-color: #F3F7F9;
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}

.head-contacts-box {
  min-height: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: 1px solid red;
  width: 1164px;
  margin: 0 auto;
}

.head-contacts-info {
  color: #EE3643;
  font-style: italic;
  padding: 0;
  margin: 0;
  margin-right: 180px;
  width: 478px;
}

.head-contacts-address {
  color: #32425C;
  padding: 0;
  margin: 0;
  position: relative;
  top: -2px;
  max-width: 275px;
}

.head-contacts-phone {
  text-decoration: none;
  color: #293449;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  column-gap: 9px;
  position: relative;
  top: -2px;
  max-width: 198.5px;
  min-height: 20px;
  margin-left: auto;
}

.head-contacts-phone::before {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(../images/svg/phone.svg);
  display: inline-block;
  position: relative;
  top: 1px;
}

.head-login-box {
  background-color: #293449;
}

.head-login-inner {
  outline: 1px solid rosybrown;
  min-height: 45px;
  display: flex;
  align-items: center;
  width: 1166px;
  margin: 0 auto;
}

.logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 220px;
  min-height: 45px;
  background-color: #EE3643;
}

.logo {
  color: #FFFFFF;
  cursor: pointer;
}

.form-search {
  display: flex;
  position: relative;
  align-items: center;
}

.head-search-label {
  display: flex;
  align-items: center;
}

.head-search-label::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../images/svg/search-white.svg");
  position: absolute;
  left: 21px;
  opacity: 0.6;
  z-index: 1;
}

.head-search-label::after {
  content: "Поиск:";
  font-size: 16px;
  line-height: 24px;
  position: absolute;
  left: 53px;
  color: #F2F2F2;
}

.head-search {
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  border: none;
  background-color: #293449;
  min-height: 45px;
  padding: 0;
  outline: none;
  padding-left: 65px;
  padding-right: 65px;
  width: 587px;
  position: relative;
}


.form-search-close {
  position: absolute;
  right: 19px;
  top: 16px;
  margin: 0;
  cursor: pointer;
  border: none;
  width: 12px;
  height: 12px;
  background-color: transparent;
  background-image: url("../images/svg/close.svg");
  background-repeat: no-repeat;
}

.head-search::placeholder {
  z-index: -1;
}

.head-search:focus-visible {
  background-color: #F1F5F7;
}

.head-search:focus-visible.head-search::placeholder {
  z-index: 1;
}

.head-search:focus-visible+.head-search-label::after {
  display: none;
}

.head-search:focus-visible+.head-search-label::before {
  background-image: url("../images/svg/search.svg");
}

.login {
  min-height: 45px;
  display: flex;
  align-items: center;
  border: none;
  padding: 0;
  text-transform: uppercase;
  background-color: transparent;
  color: #F1F5F7;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  cursor: pointer;
  margin-left: auto;
}

.login::before {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("../images/svg/login.svg");
  position: relative;
  margin-right: 10px;
  top: -1px;
}


.logout {
  min-height: 45px;
  display: flex;
  align-items: center;
  border: none;
  padding: 0;
  background-color: transparent;
  color: #F1F5F7;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  margin-left: auto;
}

.logout::before {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("../images/svg/user.svg");
  position: relative;
  margin-right: 8px;
}


.logout::after {
  content: "";
  width: 16px;
  height: 17px;
  background-image: url("../images/svg/logout.svg");
  position: relative;
  margin-left: 20px;
  top: 1px;
}


.head-navigation-box {
  background-color: #3D546F;
  position: relative;
}

.head-navigation-box::before {
  content: "";
  position: absolute;
  background-color: #b52933;
  left: 117px;
  width: 220px;
  height: 5px;
  margin-right: 424px;
}

.head-navigation-inner {
  outline: 1px solid green;
  min-height: 70px;
  display: flex;
  align-items: center;
  width: 1164px;
  margin: 0 auto;
}

.left-menu-navigtion {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;

}

.menu-navigation-list {
  list-style: none;
  display: inline-block;
}

.menu-navigtion-link {
  display: inline-block;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 24px;
  padding: 25px;
  outline: none;

}

.menu-navigtion-link::before {
  display: block;
  content: attr(title);
  font-weight: 700;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.menu-navigtion-link:hover {
  background-color: #32425C;
}

.menu-navigtion-link:active {
  font-weight: 700;

}


.right-menu-navigation {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  align-items: center;
}

.right-menu-btn {
  border: none;
  background-color: transparent;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  margin-right: 20px;
  padding: 0;
}

.right-menu-btn-ico {
  opacity: 0.6;
}



.btn-menu-number {
  margin-left: 6px;
}


.btn {
  border: 0;
  background-color: transparent;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  max-width: 195px;
  text-align: center;
}

.btn-green {
  background-color: #63A63E;
  border-radius: 4px;
  padding: 12px 10px;
}

/* == MAIN == */

.main {
  display: block;
}

.main-banner-box {
  margin: 0 auto;
  background-color: #FFFFFF;
  outline: 1px solid orange;
  margin-bottom: 50px;
}

.container {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
}

.banner-box-top {
  margin-bottom: 27px;
}

.banner {
  width: 180px;
  background-color: #FFBF47;
  border-radius: 2px;
  padding: 20px 165px 33px 25px;
  position: relative;
}

.banner-aqua {
  background-color: #3BBCE3;
}

.banner-purple {
  background-color: #DC91D8;
}

.banner-green {
  background-color: #8ED78F;
}

.banner-orange {
  background-color: #FFBF47;
}

.label-new {
  background-image: url("../images/svg/label-new.svg");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.banner-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 55px;
}

.banner-button {
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 178px;
  padding: 12px 0 10px 0;
  display: flex;
  column-gap: 5px;
  align-items: center;
  border: 1px solid #FFFFFF;
}


.banner-button::before {
  content: "";
  height: 16px;
  width: 16px;
  background-image: url("../images/svg/arrow-right.svg");
  position: relative;
  margin-left: 12px;
}

.banner-ico {
  position: absolute;
  top: 28%;
  right: 44px;
  color: #fff;
}

.slider {
  position: relative;

}

.slider-perforator {
  width: 770px;
  min-height: 390px;
  background-image: url("../images/slide-perforator.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider-saw {
  width: 770px;
  min-height: 390px;
  background-image: url("../images/slide-saw.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider-inside-box {
  padding: 50px 0 48px 51px;
}

.slider-hidden {
  display: none;
}

.slider-title {
  font-family: "Fira-Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 12px;
}

.slider-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 168px;
}

.slider-btn {
  display: inline-block;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #EE3643;
  border-radius: 2px;
  padding: 12px 23px 14px 23px;
}

.banner-box-right {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 30px;
}
