@font-face {
  font-family: "PT-Sans";
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/PT-Sans-400.woff2') format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT-Sans";
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/PT-Sans-Italic.woff2') format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT-Sans";
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/PT-Sans-700.woff2') format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Fira-Sans";
  font-weight: 900;
  font-style: normal;
  src: url('../fonts/Fira-Sans-700.woff2') format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT-Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  background-color: #FFFFFF;
  margin: 0;
  color: #293449;
  display: flex;
  flex-direction: column;
  min-width: 1400px;
  min-height: 100%;
}

.visually-hidden {
  visibility: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.wrapper {
  width: 1400px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.head {
  margin: 0 auto;
  background-color: #F3F7F9;
  display: flex;
  flex-direction: column;
  margin-bottom: 52px;
}

.head-contacts-box {
  min-height: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: 1px solid red;
  width: 1164px;
  margin: 0 auto;
}

.head-contacts-info {
  color: #EE3643;
  font-style: italic;
  padding: 0;
  margin: 0;
  margin-right: 180px;
  max-width: 478px;
  position: relative;
  left: -3px;
}

.head-contacts-address {
  color: #32425C;
  padding: 0;
  margin: 0;
  position: relative;
  top: -2px;
  max-width: 275px;
}

.head-contacts-phone {
  text-decoration: none;
  color: #293449;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  column-gap: 9px;
  position: relative;
  top: -2px;
  max-width: 198.5px;
  min-height: 20px;
  margin-left: auto;
}

.head-contacts-phone::before {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(../images/svg/phone.svg);
  display: inline-block;
  position: relative;
  top: 1px;
}

.head-contacts-phone:hover,
.footer-phone-link:hover {
  opacity: 0.8;
}

.head-contacts-phone:focus-visible,
.footer-phone-link:focus-visible {
  outline: 1px solid #000000;
}

.head-contacts-phone:active,
.footer-phone-link:active {
  opacity: 0.4;
}

.head-login-box {
  background-color: #293449;
}

.head-login-inner {
  outline: 1px solid rosybrown;
  min-height: 45px;
  display: flex;
  align-items: center;
  width: 1166px;
  margin: 0 auto;
}

.logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 56px 15px 54px;
  background-color: #EE3643;
  position: relative;
  left: -5px;
}

.logo-link::before {
  content: "";
  position: absolute;
  background-color: #b52933;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 5px;
  z-index: 1;
}

.logo {
  color: #FFFFFF;
}

.form-search {
  display: flex;
  align-items: center;
  position: relative;
  left: -5px;
}

.head-search-label {
  display: flex;
  align-items: center;
}

.form-search-btn {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 11px;
  left: 22px;
  display: flex;
  width: 20px;
  height: 20px;
  align-items: center;
  cursor: pointer;
  padding: 0;
}

.form-search-ico {
  color: rgba(255, 255, 255, 0.6)
}

/* .head-search-label::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../images/svg/search-white.svg");
  position: absolute;
  top: 11px;
  left: 22px;
  opacity: 0.6;
  z-index: 1;
} */

.head-search-label::after {
  content: "Поиск:";
  font-size: 16px;
  line-height: 24px;
  position: absolute;
  left: 54px;
  top: 8px;
  color: #F2F2F2;
}

.head-search {
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  border: none;
  background-color: #293449;
  min-height: 45px;
  padding: 0;
  outline: none;
  padding-left: 65px;
  padding-right: 65px;
  width: 587px;
  position: relative;
}

.form-search-close {
  position: absolute;
  right: 19px;
  top: 16px;
  margin: 0;
  cursor: pointer;
  border: none;
  width: 12px;
  height: 12px;
  background-color: transparent;
  background-image: url("../images/svg/close.svg");
  background-repeat: no-repeat;
  display: inline-flex;
}

.head-search::placeholder {
  z-index: -1;
}

.head-search:focus-visible {
  background-color: #F1F5F7;
}

.head-search:focus-visible.head-search::placeholder {
  z-index: 1;
  padding-left: 10px;
  position: relative;
  top: -1px;
}

.head-search:focus-visible+.head-search-label::after {
  display: none;
}

/* .head-search:focus-visible+.head-search-label::before {
  background-image: url("../images/svg/search.svg");
} */

.head-search:focus-visible+.form-search-ico {
  color: red;
}





.block-hidden {
  display: none;
}

.block-visible {
  display: flex;
}

.login {
  min-height: 45px;
  align-items: center;
  border: none;
  padding: 0;
  text-transform: uppercase;
  background-color: transparent;
  color: #F1F5F7;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  cursor: pointer;
  margin-left: auto;
}

.login-btn {
  position: relative;
  margin-right: 10px;
  top: -1px;
}

.logout {
  min-height: 45px;
  align-items: center;
  border: none;
  padding: 0;
  background-color: transparent;
  color: #F1F5F7;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  margin-left: auto;
  position: relative;
  right: 5px;
  top: -2px;
}

.logout-btn {
  position: relative;
  margin-left: 17px;
  top: 1px;
}

.logout-user-btn {
  color: #FFFFFF;
  opacity: 0.8;
  margin-right: 9px;
  position: relative;
  top: 2px;
}

.login:hover,
.logout:hover {
  opacity: 0.8;
}

.login:focus-visible,
.logout:focus-visible {
  outline: 1px solid #000000;
}

.login:active,
.logout:active {
  opacity: 0.4;
}

.head-navigation-box {
  background-color: #3D546F;
  position: relative;
}

.head-navigation-inner {
  outline: 1px solid green;
  min-height: 70px;
  display: flex;
  align-items: center;
  width: 1164px;
  margin: 0 auto;
}

.left-menu-navigtion {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  position: relative;
  left: -26px;
}

.menu-navigation-list {
  list-style: none;
  display: inline-block;
}

.menu-navigtion-link {
  display: inline-block;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 24px;
  padding: 20px 24px 25px 26px;
  outline: none;
}

.need-padding {
  padding: 20px 24px 25px 25px;
}

.pre-padding {
  padding: 20px 23px 25px 20px;
}

.last-paddin {
  padding: 20px 26px 25px 26px;
}

.menu-navigtion-link::before {
  display: block;
  content: attr(title);
  font-weight: 700;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.menu-navigtion-link:hover {
  background-color: #32425C;
}

.menu-navigtion-link:focus-visible {
  outline: 1px solid #000000;
}

.menu-navigtion-link:active {
  font-weight: 700;
}

.right-menu-navigation {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  align-items: center;
  position: relative;
  top: -2px;
}

.right-menu-btn {
  border: none;
  background-color: transparent;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  margin-right: 25px;
  padding: 0;
  outline: 0;
}

.right-menu-btn-ico {
  opacity: 0.6;
}

.right-menu-btn:hover .right-menu-btn-ico {
  opacity: 1;
}

.right-menu-btn:focus-visible .right-menu-btn-ico {
  outline: 1px solid #000000;
}

.right-menu-btn:active .right-menu-btn-ico {
  opacity: 0.2;
}

.btn-first-number {
  margin-right: 5px;
  margin-left: 5px;
}

.btn-menu-number {
  margin-left: 5px;
  margin-right: 10px;
}

.menu-number-hidden {
  display: none;
}

.btn {
  border: 0;
  background-color: transparent;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  max-width: 195px;
  text-align: center;
}

.btn-green {
  background-color: #63A63E;
  border-radius: 4px;
  padding: 12px 12px;
  position: relative;
  top: -2px;
}

.btn-green:hover,
.subscribe-btn:hover {
  background-color: #5FBB2D;
}

.btn-green:focus-visible,
.subscribe-btn:focus-visible {
  outline: 1px solid #000000;
}

.btn-green:active,
.subscribe-btn:active {
  background-color: #518534;
}



/* == MAIN == */

.main {
  display: block;
}

.main-banner-box {
  margin: 0 auto;
  background-color: #FFFFFF;
  outline: 1px solid orange;
  margin-bottom: 49px;
}

.container {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
}

.banner-box-top {
  margin-bottom: 27px;
}

.banner {
  width: 180px;
  background-color: #FFBF47;
  border-radius: 2px;
  padding: 20px 165px 33px 25px;
  position: relative;
}

.banner-aqua {
  background-color: #3BBCE3;
}

.banner-purple {
  background-color: #DC91D8;
}

.banner-green {
  background-color: #8ED78F;
}

.banner-orange {
  background-color: #FFBF47;
}

.label-new {
  background-image: url("../images/svg/label-new.svg");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.banner:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.06);
}


.banner-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 55px;
}

.banner-button {
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 178px;
  padding: 12px 0 10px 0;
  display: flex;
  column-gap: 5px;
  align-items: center;
  border: 1px solid #FFFFFF;
}

.banner-button::before {
  content: "";
  height: 16px;
  width: 16px;
  background-image: url("../images/svg/arrow-right.svg");
  position: relative;
  margin-left: 12px;
}

.banner-button:hover {
  border-color: rgba(255, 255, 255, 0.6);
}

.banner-button:focus-visible {
  outline: 1px solid #000000;
}

.banner-button:active {
  opacity: 0.6;
}

.banner-ico {
  position: absolute;
  right: 36px;
  top: 25%;
  color: #fff;
}

.banner-ico-first {
  top: 28%;
  right: 44px;
}

.slider {
  position: relative;
}

.slider:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.06);
}

.slider-navigation {
  position: absolute;
  top: 50.5%;
  FONT-WEIGHT: 200;
  left: 2.6%;
  display: flex;
  justify-content: space-between;
  width: 731px;
  transform: translateY(-50%);
}

.slider-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  padding: 0;
  background-color: rgba(41, 52, 73, 0.6);
  cursor: pointer;
  outline: none;
}

.slider-ico {
  position: relative;
  right: -2px;
  color: #FCFCFC;
}

.slider-ico-prev {
  transform: rotate(180deg);
  left: -2px;
}

.slider-prev:hover,
.slider-next:hover {
  background-color: #EE3643;
}

.slider-prev:hover .slider-ico,
.slider-next:hover .slider-ico {
  color: #FFFFFF;
}

.slider-prev:focus-visible,
.slider-next:focus-visible {
  border: 2px solid #EE3643;
}

.slider-prev:focus-visible .slider-ico,
.slider-next:focus-visible .slider-ico {
  color: #FFFFFF;
}

.slider-prev:active,
.slider-next:active {
  background-color: rgba(41, 52, 73, 0.4);
}

.slider-prev:active .slider-ico,
.slider-next:active .slider-ico {
  color: rgba(252, 252, 252, 0.6);
}

.slider-button:disabled {
  opacity: 0.4;
  cursor: default;
}

.slider-pagination {
  display: flex;
  column-gap: 8px;
  align-self: end;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 6%;
  left: 47.6%;
}

.slider-dot {
  width: 8px;
  height: 8px;
  border-radius: 10px;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-color: rgba(255, 209, 128, 0.8);
  outline: none;
}

.active-dot {
  background-color: #FCFCFC;
}

.slider-dot:hover {
  background-color: #EE3643;
}

.slider-dot:focus-visible {
  border: 2px solid #EE3643;
}

.slider-dot:active {
  background-color: rgba(255, 209, 128, 0.4);
}

.slider-drill {
  width: 770px;
  min-height: 390px;
  background-image: url("../images/slide-drill.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider-perforator {
  width: 770px;
  min-height: 390px;
  background-image: url("../images/slide-perforator.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider-inside-box {
  padding: 50px 51px 48px 51px;
}

.slider-hidden {
  display: none;
}

.slider-title {
  font-family: "Fira-Sans", "Arial", sans-serif;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 12px;
}

.slider-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 168px;
}

.slider-btn {
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  color: #FFFFFF;
  background-color: #EE3643;
  border-radius: 2px;
  padding: 12px 23px 14px 23px;
  border: none;
  cursor: pointer;
  max-width: 250px;
}

.slider-btn:hover {
  background-color: #CA2C37;
}

.slider-btn:focus-visible {
  outline: 1px solid #000000;
}

.slider-btn:active {
  background-color: #BA2732;
}

.banner-box-right {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 30px;
}

/* == MAIN CATALOG == */

.main-catalog {
  width: 1170px;
  margin: 0 auto;
  outline: 1px solid blue;
  margin-bottom: 53px;
}

.main-catalog-title {
  font-family: "Fira-Sans", "Arial", sans-serif;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  color: #293449;
  margin: 0;
  padding-right: 50px;
  margin-bottom: 26px;
}

.main-catalog-box {
  display: flex;
  column-gap: 80px;
}

/* -- Filter -- */

.main-catalog-filter {
  outline: 1px solid orange;
  max-width: 220px;
}

.filter-products {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.sort-price {
  border: 0;
  padding: 0;
  margin: 0;
  margin-bottom: 38px;
}

.filter-block-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  padding: 0;
  max-width: 200px;
  padding-right: 20px;
  margin-bottom: 10px;
}

.sort-price-cost {
  width: 220px;
  background-color: #F7F3EC;
  margin: 0;
  margin-bottom: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 18px 0;
  border-radius: 2px
}

.sort-price-cost-btn {
  padding: 0;
  margin: 0;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #3D546F;
  background-color: #FFFFFF;
  z-index: 1;
  cursor: pointer;
  position: absolute;
  top: 8.5px;
}

.price-cost-min-btn {
  left: 19px;
}

.price-cost-max-btn {
  right: 61px;
}

.sort-price-cost-btn:hover {
  background-color: #518534;
}

.sort-price-cost-btn:focus-visible {
  outline: 1px solid #000000;
}

.sort-price-cost-btn:active {
  background-color: #5FBB2D;
}

.filter-cost-line {
  width: 180px;
  min-height: 2px;
  background-color: #3D546F;
  border: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.filter-cost-line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #5FBB2D;
  width: 135px;
  min-height: 2px;
}

.filter-cost-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.filter-cost-wrapper::after {
  content: "";
  position: absolute;
  top: 48%;
  left: 48.5%;
  width: 9px;
  height: 1px;
  background-color: #293449;
}

.filter-cost-number {
  width: 75px;
  min-height: 40px;
  background-color: #F7F3EC;
  border: none;
  text-align: center;
  padding: 0 10px;
  color: #293449;
  font-family: "PT-Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 2px;
  appearance: none;
}

.filter-cost-number::placeholder {
  color: #293449;
}

.filter-cost-number::-webkit-outer-spin-button,
.filter-cost-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.filter-cost-number {
  -moz-appearance: textfield;
}

.product-filter-group {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 13px;
}

.product-filter-last {
  margin-bottom: 29px;
}

.form-filter-title {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  margin-bottom: 28px;
  padding: 0;
}

.form-filter-color {
  margin-bottom: 16px;
}

.form-filter-bluetooth {
  margin-bottom: 18px;
}

.control {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 36px;
  cursor: pointer;
}

.control-mark {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 16px;
  height: 16px;
  border-radius: 3px;
  border: 2px solid #3D546F;
  background-color: transparent;
}

.control-mark-radio {
  width: 18px;
  height: 18px;
  left: 0;
}

.form-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-filter-item {
  min-height: 40px;
}

.form-filter-radio-item {
  margin-bottom: 20px;
  min-height: 20px;
}

/* Checkbox */

.control-input[type="checkbox"]:checked+.control-mark::before {
  position: absolute;
  top: 7px;
  left: 6px;
  width: 8px;
  height: 2px;
  background-color: #3D546F;
  content: "";
}

.control-input[type="checkbox"]:checked+.control-mark::after {
  position: absolute;
  top: 8px;
  left: 4px;
  width: 5px;
  height: 2px;
  background-color: #3D546F;
  content: "";
}

.control-input[type="checkbox"]:checked+.control-mark {
  border: 2px solid #3D546F;
}

.control-input[type="checkbox"]:checked+.control-mark::before {
  transform: rotate(-50deg);
}

.control-input[type="checkbox"]:checked+.control-mark::after {
  transform: rotate(40deg);
}

/* Radio */

.control-input[type="radio"]+.control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked+.control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  background-color: #3D546F;
  border-radius: 50%;
  content: "";
}

.control-input[type="radio"]:checked+.control-mark {
  border: 2px solid #3D546F;
}

.control-label {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  position: relative;
  top: 2px;
}

.control:hover .control-mark {
  opacity: 0.6;
}

.control:focus-visible .control-mark {
  outline: 1px solid #000000;
}

.control:active .control-mark,
.control:active .control-label {
  opacity: 0.4;
}

.control-input[type="radio"]:disabled+.control-mark,
.control-input[type="checkbox"]:disabled+.control-mark {
  opacity: 0.2;
}

.control-input[type="radio"]:disabled~.control-label,
.control-input[type="checkbox"]:disabled~.control-label {
  opacity: 0.4;
}

.filter-btn {
  border: 2px solid #32425C;
  border-radius: 2px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: transparent;
  color: #32425C;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 38px;
  cursor: pointer;
}

.filter-btn:hover {
  border: 2px solid #63A63E;
}

.filter-btn:focus-visible {
  outline: 1px solid #000000;
}

.filter-btn:active {
  opacity: 0.3;
}

/* -- Catalog -- */

.main-catalog-products {
  display: flex;
  flex-direction: column;
  outline: 1px solid red;
  width: 870px;
}

.main-catalog-block {
  min-height: 40px;
  outline: 1px solid purple;
  margin-top: 34px;
  margin-bottom: 31px;
}

.product-select {
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  color: #293449;
  border: 1px solid #3D546F;
  border-radius: 2px;
  padding: 7px 175px 7px 14px;
  background-image: url("../images/svg/select-down.svg");
  background-repeat: no-repeat;
  background-position: 256px 15px;
  cursor: pointer;
  outline: none;
  appearance: none;
}

.product-select:hover {
  border: 1px solid #63A63E;
}

.product-select:focus {
  border: 1px solid #ffbf47;
  box-shadow: inset 1px 1px 0px #63A63E, inset -1px -1px 0px #63A63E;
  background-image: url("../images/svg/select-down-green.svg");
}

.catalog-products {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 28px;
  margin-bottom: 29px;
}

.catalog-product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 268px;
  border: 1px solid #EAEAEA;
  border-radius: 2px;
  padding-top: 26px;
  position: relative;
}

.catalog-product-card:hover {
  box-shadow: 0 10px 25px 0 rgb(41 52 73 / 50%);
}

.catalog-product-card:hover .product-block-hover {
  z-index: 0;
}

.label-product-new::after {
  background-image: url("../images/svg/label-product-new.svg");
  background-repeat: no-repeat;
  position: absolute;
  content: "";
  width: 70px;
  height: 70px;
  top: 0;
  right: 0;
}

.product-image {
  margin-bottom: 14px;
}

.product-caption {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  max-width: 180px;
  text-align: center;
  margin: 0;
  margin-bottom: 42px;
  position: relative;
  left: -1px;
}

.old-price-plug {
  margin-bottom: 14px;
}

.product-caption-link {
  text-decoration: none;
  color: #293449;
  display: inline-block;
}

.old-price {
  font-weight: 700;
  color: #A9A9A9;
  letter-spacing: 2px;
  text-decoration-line: line-through;
  max-width: 180px;
  margin: 0;
  margin-bottom: 10px;
}

.product-buy {
  background-color: #EE3643;
  border: none;
  border-radius: 4px;
  padding: 11px 28px;
  font-family: "PT-Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  color: #FFFFFF;
  position: relative;
  left: -9px;
  max-width: 220px;
  margin-bottom: 25px;
  cursor: pointer;
}

.product-buy::after {
  content: '';
  position: absolute;
  right: -11px;
  top: 5px;
  width: 30px;
  background-color: #EE3643;
  border-radius: 4px;
  transform: rotate(45deg);
  height: 30px;
  z-index: -1;
}

.product-buy:hover,
.product-buy:hover::after {
  background-color: #CA2C37;
}

.product-buy:focus-visible,
.product-buy:focus-visible::after {
  outline: 1px solid #000000;
}


.product-buy:active,
.product-buy:active::after {
  background: #BA2732;
}

.product-block-hover {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 65px 41px;
  background-color: rgba(255, 255, 255, 0.9)
}

.product-block-hover-btn {
  min-width: 135px;
  border-radius: 2px;
  font-family: "PT-Sans", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
  border: none;
  left: 4px;
}

.hover-basket-btn {
  padding: 11px 5px;
  margin-bottom: 11px;
  color: #FFFFFF;
  text-align: center;
  background-color: #63A63E;
}

.product-cart-ico {
  position: relative;
  left: -4px;
  top: 1px;
  color: #FFFFFF;
}

.hover-bookmark-btn {
  padding: 9px 5px;
  color: #32425c;
  background-color: #FFFFFF;
  border: solid 2px #63A63E;
}

.hover-bookmark-btn:hover {
  border-color: #3D546F;
}

.hover-bookmark-btn:focus-visible {
  outline: 1px solid #000000;
}

.hover-bookmark-btn:active {
  opacity: 0.3;
}

.hover-basket-btn:hover {
  background-color: #5FBB2D;
}

.hover-basket-btn:focus-visible {
  outline: 1px solid #000000;
}

.hover-basket-btn:active {
  background-color: #518534;
}

/* -- Catalog pagination -- */

.catalog-pagination-box {
  outline: 1px solid yellow;
  display: flex;
  justify-content: center;
}

.catalog-pagination {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  padding: 0;
  margin: 0;
  margin-right: 17px;
  max-width: 870px;
}

.pagination-item {
  list-style: none;
}

.pagination-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  padding: 14px 21px 13px 20px;
  display: inline-block;
  background-color: #3D546F;
  border-radius: 2px;
  color: #FFFFFF;
}

.pagination-link-current {
  background-color: #FFFFFF;
  color: #3D546F;
}

.pagination-link:hover {
  background-color: #32425C;
  color: #FFFFFF;
}

.pagination-link:focus-visible {
  outline: 1px solid #000000;
}

.pagination-link:active {
  background-color: #EE3643;
  color: #FFFFFF;
}

.btn-show-more {
  padding: 13px 38px 14px 36px;
}

/* -- Service -- */

.main-service {
  background-color: #F1F5F7;
  padding: 52px 115px;
  margin-bottom: 52px;
}

.service-box {
  display: flex;
  flex-direction: column;
}

.service-caption {
  font-family: "Fira-Sans", sans-serif;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: #293449;
  margin: 0;
  margin-bottom: 29px;
}

.service-title {
  font-size: 18px;
  line-height: 24px;
  color: #293449;
  margin: 0 auto;
  max-width: 556px;
  position: relative;
  left: 5px;
  margin-bottom: 65px;
}

.service-inner-block {
  display: flex;
  column-gap: 30px;
  row-gap: 30px;
}

.service-item {
  background-color: #FFFFFF;
  padding: 167px 44px 43px 26px;
  position: relative;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}

.service-item-caption {
  max-width: 300px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425C;
  margin: 0;
  margin-bottom: 21px;
  position: relative;
  left: -2px;
}

.service-item-title {
  max-width: 300px;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  color: #000000;
}

.service-item-ico {
  position: absolute;
  left: 24px;
  top: 30px;
  color: #CA2C37;
}

.last-item-ico {
  left: 30px;
  top: 38px;
}


/* -- About -- */


.main-about {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  column-gap: 190px;
  margin-bottom: 52px;
}

.about,
.contacts {
  display: block;
}

.about-caption {
  font-family: "Fira-Sans", sans-serif;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  color: #293449;
  margin: 0;
  margin-bottom: 23px;
  max-width: 480px;
  position: relative;
  left: 2px;
}

.about-title {
  font-size: 16px;
  line-height: 24px;
  color: #293449;
  max-width: 480px;
  margin: 0;
  margin-bottom: 26px;
  position: relative;
  left: 2px;
}

.about-title-end {
  margin-bottom: 52px;
}

.contact-title {
  position: relative;
  left: 1px;
  margin-bottom: 28px;
}

.btn-about-more {
  padding: 13px 44px 14px 46px;
  margin-bottom: 52px;
}

.contact-map {
  display: block;
}

/* == FOOTER == */

.footer {
  width: 1400px;
  margin: 0 auto;
  background-color: #32425C;
}

.footer-box {
  display: flex;
  justify-content: space-between;
  padding-left: 115px;
  padding-right: 115px;
}

.footer-left-box {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 220px;
  min-height: 45px;
  background-color: #EE3643;
  position: relative;
  width: 224px;
  height: 52px;
  margin-bottom: 26px;
}

.footer-logo::after {
  content: "";
  position: absolute;
  background-color: #b52933;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 5px;
  z-index: 1;
}

.logo-link:hover,
.footer-logo:hover {
  background-color: #CA2C37;
}

.logo-link:focus-visible,
.footer-logo:focus-visible {
  outline: 1px solid #000000;
}

.logo-link:active,
.footer-logo:active {
  background-color: #BA2732;
}

.footer-address {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: #F3F7F9;
  max-width: 314px;
}

.footer-phone-link {
  text-decoration: none;
  margin-bottom: 23px;
}

.footer-social-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 34px;
  column-gap: 4.5px;
  max-width: 314px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 33px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  text-decoration: none;
}

.slider-social-ico {
  color: #FFFFFF;
  position: relative;
}

.pin-ico {
  left: 1px;
  top: 1px;
}

.vsco-ico {
  top: -1px;
}

.footer-social-link:hover {
  background-color: rgba(41, 52, 73, 1);
}

.footer-social-link:focus-visible {
  outline: 1px solid #000000;
}

.footer-social-link:active {
  background-color: rgba(41, 52, 73, 0.4);
}

.footer-right-box {
  text-align: right;
  display: flex;
  flex-direction: column;
}

.footer-feedback {
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #FFFFFF;
  padding-top: 31px;
  margin: 0;
}

.footer-feedback-link {
  text-decoration: none;
  color: #FFD180;
  margin-bottom: 29px;
  padding: 0;
}

.form-subscribe {}

.subscribe-title {
  margin: 0;
  margin-bottom: 2px;
  padding: 0;
}

.subscribe-box {
  display: flex;
}

.form-subscribe-input {
  display: block;
  margin-left: auto;
}

.form-subscribe-input {
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  color: #3D546F;
  width: 191px;
  padding: 9px 16px 10px 16px;
  border: 1px solid #63A63E;
  border-radius: 2px;
  position: relative;
  right: -5px;
  outline: none;
}

.form-subscribe-input::placeholder {
  color: #BDBDBD;
}

.form-subscribe-input:hover {
  border: 1px solid #63A63E;
}

.form-subscribe-input:focus {
  border: 1px solid #ffbf47;
  box-shadow: inset 1px 1px 0px #63A63E, inset -1px -1px 0px #63A63E;
}

.subscribe-btn {
  padding: 10px 11px 9px 11px;
  background-color: #63A63E;
  border: 0;
  border-radius: 2px;
  z-index: 1;
  cursor: pointer;
}

.subscribe-ico {
  color: #FFFFFF;
}

.footer-end-box {
  background-color: #293449;
  display: flex;
  justify-content: space-between;
  padding: 21px 116px 20px 115px;
}

.footer-end-text {
  margin: 0;
  color: #FFFFFF;
}

.footer-end-link {
  margin: 0;
}

.footer-end-link:hover,
.footer-feedback-link:hover {
  color: #FFBF47;
}

.footer-end-link:focus-visible,
.footer-feedback-link:focus-visible {
  outline: 1px solid #000000;
}

.footer-end-link:active,
.footer-feedback-link:active {
  opacity: 0.4;
}
